.bs-tree {
  background-color: #fff;
}

.bs-tree-empty,
.bs-tree-loading{
  padding: 2rem 1rem;
  text-align: center;
  color: #999;
}
.bs-tree-node-content{
  display: flex;
  align-items: center;
  //background-color: #ccc;
  cursor: pointer;
  transition: all .3s;
  white-space: nowrap;
  &:hover{
    background-color: #f5f7f7;
  }
  .bs-checkbox,
  .bs-radio{
    margin-right: 0.5rem;
  }
}
.bs-tree-highlight-current{
  .bs-tree-node{
    &.is-current{
      &>.bs-tree-node-content{
        background-color: #f5f7f7;
      }
    }
  }
}
.bs-tree-node-indent{
  align-self: stretch;
  white-space: nowrap;
  user-select: none;
  pointer-events: none;
}
.bs-tree-node-indent-item{
  display: inline-block;
  width: 1rem;
}
.bs-tree-node-switcher{
  line-height: 1;
  padding: 0.375rem;
  cursor: pointer;
  color: #999;
  //background-color: #f60;
  &.bs-tree-node-switcher-open{
    .bs-tree-node-switcher-arrow{
      .switcher-arrow-svg{
        transform: scale(0.8) translate(0, -0.125rem) rotate(0deg);
      }
      //transform: translate(0, 25%) rotate(90deg);
    }
  }
  &.bs-tree-node-switcher-noop{
    visibility: hidden;
  }
}
.bs-tree-node-switcher-arrow{
  font-size: 0.75rem;
  .switcher-arrow-svg{
    //transform: rotate(-90deg);
    transform: scale(0.8) translate(0, -0.125rem) rotate(-90deg);
    transition: transform .3s;
  }
}
.bs-tree-node-spinner{
  display: inline-block;
  vertical-align: 2px;
  //transform: translateY(-0.0625rem);
  .bs-spinner{
    width: 0.75rem;
    height: 0.75rem;
    border-width: 1px;
  }
}
/*
.bs-tree-node-switcher-arrow{
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  line-height: 0;
  border: solid 0.3125rem transparent;
  border-left-color: #666;
  transform: translate(25%, 0);
  transition: transform .3s;
}
*/
.bs-tree-node-children-operate{
  display: flex;
  &.is-disabled{
    color: #999;
    .bs-tree-node-loadmore{
      cursor: not-allowed;
      &:hover{
        color: #999;
      }
    }
  }
}
.bs-tree-node-loadmore{
  cursor: pointer;
  font-size: 0.875rem;
  transition: color .3s;
  &:hover{
    color: var(--primary);
  }
}
.tree-node-split-line{
  margin: 0 0.25rem;
}

