@import "../../../styles/bootstrap-variables";
@import "bootstrap/scss/tables";

.table{
  table-layout: fixed;
  border-spacing: 0;
  margin-bottom: 0;
  thead th{
    border-bottom: none;
  }
  &.table-sm{
    font-size: 0.875rem;
  }
}
