@font-face {
  font-family: "iconfont"; /* Project id 2107609 */
  src: url('iconfont.woff2?t=1664355470788') format('woff2'),
       url('iconfont.woff?t=1664355470788') format('woff'),
       url('iconfont.ttf?t=1664355470788') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-infomation-publish:before {
  content: "\e649";
}

.icon-open-api:before {
  content: "\e648";
}

.icon-mijiutong:before {
  content: "\e647";
}

.icon-app-publish:before {
  content: "\e628";
}

.icon-compliance-operation:before {
  content: "\e627";
}

.icon-vpn-policy-manage:before {
  content: "\e626";
}

.icon-iot2:before {
  content: "\e625";
}

.icon-business-system:before {
  content: "\e623";
}

.icon-menu-permission:before {
  content: "\e621";
}

.icon-tactics:before {
  content: "\e61e";
}

.icon-alarm:before {
  content: "\e62b";
}

.icon-cipher-app:before {
  content: "\e62c";
}

.icon-help:before {
  content: "\e62d";
}

.icon-identification:before {
  content: "\e62e";
}

.icon-home:before {
  content: "\e62f";
}

.icon-info:before {
  content: "\e630";
}

.icon-key:before {
  content: "\e631";
}

.icon-error:before {
  content: "\e632";
}

.icon-log:before {
  content: "\e633";
}

.icon-secret-info:before {
  content: "\e634";
}

.icon-dash-board:before {
  content: "\e635";
}

.icon-danger:before {
  content: "\e636";
}

.icon-monitor:before {
  content: "\e637";
}

.icon-organizational:before {
  content: "\e638";
}

.icon-earth:before {
  content: "\e639";
}

.icon-role:before {
  content: "\e63a";
}

.icon-success:before {
  content: "\e63b";
}

.icon-secret-key:before {
  content: "\e63c";
}

.icon-overview:before {
  content: "\e63d";
}

.icon-user:before {
  content: "\e63e";
}

.icon-warning:before {
  content: "\e63f";
}

.icon-single-point:before {
  content: "\e640";
}

.icon-org:before {
  content: "\e641";
}

.icon-users:before {
  content: "\e642";
}

.icon-application:before {
  content: "\e643";
}

.icon-cipher-machine:before {
  content: "\e644";
}

.icon-logo:before {
  content: "\e645";
}

.icon-system:before {
  content: "\e646";
}

