.bs-message{
  position: fixed;
  z-index: 100;
  min-width: 18rem; // 288px
  padding: 0.75rem 1rem;
  //border: 1px solid transparent;
  border-radius: 0.25rem;
  left: 50%;
  transform: translateX(-50%) translateY(0);
  transition: top .4s, width .3s, height .3s, opacity 0.5s, transform .5s;
  box-shadow: 0 0.125rem 0.75rem rgba(0,0,0,0.1);
  //opacity: 0;
  color: #fff;
  &.message_fade-enter-from,
  &.message_fade-leave-to{
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  &.bs-message-success{
    /*color: #155724;*/
    /*color: #0eb334;
    background-color: #d4edda;
    border-color: #c3e6cb;*/
    background-color: var(--success);
  }
  &.bs-message-danger{
    /*color: #721c24;*/
    /*color: #ed273c;
    background-color: #f8d7da;
    border-color: #f5c6cb;*/
    background-color: var(--danger);
  }
  &.bs-message-warning{
    /*color: #856404;*/
    /*color: #cd9c05;
    background-color: #fff3cd;
    border-color: #ffeeba;*/
    background-color: var(--warning);
  }
  &.bs-message-info{
    /*color: #0c5460;*/
    /*color: #008ba5;
    background-color: #d1ecf1;
    border-color: #bee5eb;*/
    background-color: var(--info);
  }
  .bs-message-icon{
    position: absolute;
    top: 0.75rem;
    left: 1rem;
    line-height: 1;
    font-size: 1.2rem;
    .bs-icon{
      vertical-align: middle;
    }
  }
  .close{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    padding: 0.55rem 1rem 0.75rem 1rem;
    color: inherit;
    font-size: 1.6rem;
    &:hover{
      color: #fff;
    }
  }
  &.bs-message-with-icon{
    .bs-message-content{
      padding-left: 1.85rem;
    }
  }
  &.bs-message-dismissible{
    padding-right: 3.25rem;
    .close{
      display: block;
    }
  }
  .grouping-badge{
    position: absolute;
    top: -0.85em;
    right: -0.8em;
    box-shadow: 0 0 0.25rem rgba(0,0,0,0.25);
  }
}

@media (max-width: 650px) {
  .bs-message{
    min-width: auto;
    left: 0;
    width: 100%;
    max-width: calc(100% - 2.4rem);
    margin: 0 1.2rem;
    transform: translateX(0);
    &.message_fade-enter-from,
    &.message_fade-leave-to{
      transform: translate(0, -100%);
      opacity: 0;
    }
  }
}
