@import "../../../styles/bootstrap-variables";
@import "bootstrap/scss/badge";
.bs-badge{
  &.badge-circle{
    display: inline-block;
    width: 0.85rem;
    height: 0.85rem;
    line-height: 0;
    border: 1px solid #f8f9fa;
    border-radius: 50%;
    overflow: hidden;
    font-size: 0;
    color: transparent;
  }
}
