.bs-form{
  &.bs-form-hide-error-message{
    .form-content-invalid > .invalid-feedback,
    .form-content-invalid > .invalid-tooltip{
      display: none;
    }
  }
  &.form-inline{
    align-items: flex-start;
  }
  &.bs-form-has-required:not(.form-vertical){
    .bs-form-item {
      &.is-not-required{
        & > .form-group {
          .bs-form-label {
            &::before {
              display: inline-block;
              opacity: 0;
            }
          }
        }
      }
      &.is-required{
        &.hide-required-asterisk{
          &>.form-group {
            .bs-form-label {
              &::before {
                display: inline-block;
                opacity: 0;
              }
            }
          }
        }
      }
    }
  }
}
.bs-form-item{
  margin-bottom: 1.45rem; /* 校验错误提示信息的高度 + 校验错误提示信息的margin-top */
  .form-group{
    margin-bottom: 0;
  }
  &>.form-group{
    .bs-form-label{
      &::before{
        display: none;
        vertical-align: middle;
        content: '*';
        line-height: 1;
        margin-right: 0.3rem;
        font-size: 1.2em;
        color: #dc3545;
      }
    }
  }
  &.is-required{
    &>.form-group{
      .bs-form-label{
        &::before{
          display: inline-block;
        }
      }
    }

    &.hide-required-asterisk{
      &>.form-group {
        .bs-form-label {
          &::before {
            display: none;
          }
        }
      }
    }
  }
  &.has-feedback{
    margin-bottom: 0;
  }
  .form-text{
    &  + .valid-feedback,
    &  + .invalid-feedback{
      margin-top: 0;
    }
  }
  &.bs-form-item-horizontal{
    &>.form-group{
      .bs-form-item-content{
        flex: 1;
      }
    }
  }
}
.form-content-valid{
  //&>.form-content-content{
    &>.valid-feedback,
    &>.valid-tooltip{
      display: block;
    }
  //}
}
.form-content-invalid{
  //&>.form-content-content {
    & > .invalid-feedback,
    & > .invalid-tooltip {
      display: block;
    }
  //}
}

.bs-form-label {
  &.bs-form-label-text-left{
    text-align: left;
  }
  &.bs-form-label-text-center{
    text-align: center;
  }
  &.bs-form-label-text-right{
    text-align: right;
  }
}

.bs-form-item-vertical {
  &>.form-group{
    .bs-form-label {
      display: inline-block;
      margin-bottom: 0.5rem;
    }
  }
}
.bs-form-item-inline {
  &>.form-group {
    align-items: flex-start;
  }
}

@media (min-width: 375px) {
  .bs-form-item-inline{
   margin-right: 1rem;
    &>.form-group{
      .bs-form-label{
        margin-right: 0.5rem;
      }
    }
  }
}
