@import "../../../styles/bootstrap-variables";
@import "bootstrap/scss/alert";
.bs-alert{
  &.fade-leave-active{
    transition: opacity .3s;
  }
  &.fade-leave-to{
    opacity: 0;
  }
  .bs-alert-icon{
    float: left;
    margin-right: 1rem;
    margin-top: 2px;
    font-size: 1.2rem;
    .bs-icon{
      vertical-align: top;
    }
  }
  .close{
    display: flex;
    align-items: center;
    bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    /*span[data-custome-text]{
      transform: translateY(-0.25rem);
    }*/
  }
  .custom-close{
    font-size: 0.875rem;
  }
  .alert-heading{
    display: block;
    margin-bottom: .5rem;
    line-height: 1.2;
    font-weight: 600;
    font-size: 1.5rem;
  }
  .alert-description{
    display: block;
  }
  &.has-icon{
    .bs-alert-content{
      overflow: hidden;
    }
  }
}
