$headerColor: rgba(255,255,255,0.7);
/*header start*/
.doc-header{
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%), inset 0 -1px 0 rgb(0 0 0 / 15%);
  .navbar{
    height: 4rem;
    padding: 0.75rem 2rem;
  }
  .navbar-container{
    display: flex;
    flex: 1;
  }
  .navbar-nav{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    .nav-link{
      padding: 0.5rem;
      color: $headerColor;
      transition: color .3s;
      &:hover{
        color: #fff;
      }
    }
  }

  .navbar-brand{
    position: relative;
    line-height: 1;
    font-size: 1.7rem;
    color: $headerColor;
    transition: all .3s;
    &.brand-slide-enter-from,
    &.brand-slide-leave-to{
      //transform: translateX(-100%);
      margin-left: -100%;
      opacity: 0;
    }
    &.brand-slide-enter-to,
    &.brand-slide-leave-from{
      //transform: translateX(0);
      margin-left: 0;
      opacity: 1;
    }
    .bts-vue-logo{
      width: 3rem;
    }
    .bs-icon{
      vertical-align: middle;
      transition: opacity .2s, transform .3s;
    }
    .bs-icon-bootstrap-fill{
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      opacity: 0;
      //display: none;
    }
    &:hover{
      color: #fff;
      .bs-icon-bootstrap{
        //display: none;
        opacity: 0;
      }
      .bs-icon-bootstrap-fill{
        opacity: 1;
        transform: translateY(-50%) scale(1.3) rotate(-30deg);
      }
    }
  }
  .brand-text{
    display: inline-block;
    vertical-align: middle;
    //transform: translateY(0.25rem);
    margin-left: 0.85rem;
    //color: #fff;
    text-shadow: 0 0 0.5rem rgba(0,0,0,0.3);
    i{
      font-style: normal;
      small{
        font-size: 0.75rem;
      }
    }
  }
  .navbar-toggler{
    display: none;
    border: none;
    color: $headerColor;
    &:hover{
      color: #fff;
    }
    .bs-icon-three-dots{
      transform: rotate(90deg);
    }
  }
  .lang-nav-item,
  .version-nav-item{
    display: flex;
    align-items: center;
    //margin: 0 1rem;
    //margin-left: 0.5rem;
    .dropdown-toggle{
      color: $headerColor;
      &:hover{
        color: #fff;
      }
    }
  }
  .icon-nav-item{
    //line-height: 1;
    .bs-icon{
      vertical-align: middle;
    }
  }
  .nav-item{
    &.active{
      .navbar-brand,
      .nav-link{
        color: #fff;
        font-weight: bold;
      }
    }
  }
  .lib-github-link{
    line-height: 1;
    font-size: 1.3rem;
  }
}
/*header end*/


@media (max-width: 992px) {
  .doc-header{
    .navbar{
      padding: 0 1rem;
      font-size: 0.875rem;
    }
  }
}

@media (max-width: 768px) {
  .doc-header{
    .navbar-toggler{
      display: block;
    }
    .brand-text{
      i{
        display: none;
      }
    }
  }
}

@media (max-width: 576px) {
  .doc-header{
    /*.navbar-brand{
      display: none;
    }*/
    .lang-nav-item,
    .version-nav-item{
      display: none;
    }
    .navbar-toggler{
      //display: block;
      margin-left: -1rem;
    }
  }
}
