.bs-back-top{
  //display: none;
  position: absolute;
  right: 30px;
  bottom: 30px;
  cursor: pointer;
  z-index: 3000;
  &.fixed-position{
    position: fixed;
  }
  &.fade-enter-active,
  &.fade-leave-active{
    transition: opacity .2s;
  }
  &.fade-enter-from,
  &.fade-leave-to{
    opacity: .4;
  }
  &.fade-enter-to,
  &.fade-leave-from{
    opacity: 1;
  }
}
.bs-back-top-inner{
  //position: relative;
  display: flex;
  width: 2rem;
  height: 2rem;
  //line-height: 2rem;
  text-align: center;
  border-radius: 0.125rem;
  background-color: rgba(0,0,0,0.45);
  transition: background-color .3s;
  i{
    display: block;
    transform: translateY(calc(0.625rem / 4));
    margin: auto;
    &::before{
      display: block;
      content: ' ';
      width: 0.625rem;
      height: 0.625rem;
      border-top: 2px solid #efefef;
      border-left: 2px solid #efefef;
      transform: rotate(45deg);
      //margin-top: 0.3125rem;
    }
  }
  &:hover{
    background-color: rgba(0,0,0,0.6);
  }
}
