@import "../../../styles/bootstrap-variables";
@import "bootstrap/scss/breadcrumb";
.bs-breadcrumb {
  .breadcrumb-item{
    &::before{
      display: none;
    }
  }
}
.breadcrumb-item-separator{
  float: left;
  padding-right: 0.5rem;
  color: #6c757d;
}
.breadcrumb-link{
  &.is-link{
    color: #007bff;
    cursor: pointer;
  }
}

.breadcrumb-item{
  &:first-child{
    .breadcrumb-item-separator{
      display: none;
    }
  }
  &.is-disabled{
    .breadcrumb-link{
      color: #aaa;
      cursor: not-allowed;
    }
  }
}
