.bs-mask{
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0,0,0,0.3);
  &.fadeMask-enter-from,
  &.fadeMask-leave-to{
    opacity: 0;
  }
  &.fadeMask-enter-active,
  &.fadeMask-leave-active{
    transition: opacity .3s;
  }
  &.fadeMask-enter-to,
  &.fadeMask-leave-from{
    opacity: 1;
  }
}
