.bs-collapse{
  border: 1px solid #eee;
  border-radius: 0.25rem;
  background-color: #f7f7f7;
  &.bs-collapse-simple{
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    border-left: none;
    border-right: none;
    border-radius: 0;
    background-color: #fff;
  }
}
.bs-collapse-item-header{
  position: relative;
  z-index: 2;
  display: flex;
  padding: 0.625rem 1rem;
  border-bottom: 1px solid #eee;
  cursor: pointer;
  color: #333;
  transition: box-shadow .15s ease-in-out;
  &.arrow-left{
    .bs-collapse-header-arrow{
      margin-left: 0;
      margin-right: 0.5rem;
    }
  }
}
.bs-collapse-header-arrow{
  margin-left: auto;
  transition: transform .3s;
}
.bs-collapse-item-body{
  padding: 1rem;
  border-bottom: 1px solid #eee;
  background-color: #fff;
}
.bs-collapse-item{
  &.is-disabled{
    &>.bs-collapse-item-header {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.5);
      &:focus{
        box-shadow: none!important;
      }
    }
  }
  &.is-active{
    &>.bs-collapse-item-header .bs-collapse-header-arrow{
      transform: rotate(90deg);
    }
  }
  &:last-child{
    .bs-collapse-item-header,
    .bs-collapse-item-body{
      border-bottom: none;
    }
  }
}
.bs-collapse-simple{
  &>.bs-collapse-item{
    &.is-active{
      &>.bs-collapse-item-header {
        border-bottom: none;
      }
    }
  }
}
.bs-collapse-focus-effect{
  &>.bs-collapse-item {
    & > .bs-collapse-item-header {
      &:focus {
        outline: transparent;
        box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
      }
    }
  }
}

